html
{
	overflow-x:scroll;
}

div span
{
	display : inline-block;
}

.Emprunt
{
	display : inline-block;
}

.fonctions_employe
{
	display : inline-block;
}

.deconnexion
{
	float:right;
}